body{
    padding: 0; 
    margin: 0; 
    height: 100vh; 
    width: 100vw; 
    box-sizing: border-box; 
    display: flex;
    background-color: rgb(215, 215, 215); 

}
#sidebar{
    background-color: #3F6128; 
    padding: 50px; 
    text-align: center; 
    border-radius: 0px 50px 50px 0px; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    width: 20%;
}
#top{
    height: 85%;
}
#imgPerfil{
    border-radius: 100%; 
    width: 60%; 
    border: 5px solid #fff;
}
#top h2{
    font-size: 22px; 
    margin-top: 20px; 
    margin-bottom: 50px; 
    color:#fff;
}
#btn-menu{
    margin: 20px; 
    width: 100%; 
    border: none; 
    border-radius: 50px; 
    padding: 15px 30px; 
    background-color: #375723; 
    color: #fff; 
    font-size: 20px;
    display: flex;
}
#btn-menu:hover{
    background-color: #273d19; 
}
#btn-sair{
    margin: 10px; 
    width: 100%; 
    border: none; 
    border-radius: 20px; 
    padding: 10px; 
    background-color: #fff; 
    color: red; 
    font-size: 20px;
}
#btn-sair:hover{
    background-color: rgb(215, 215, 215); 
}
#bottom{
    height: 15%
}
#conteudo{
    width: 80%;
    padding: 50px;
}
#header{
    height: 10%;
}
#topo{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#topo h3{
    font-size: 30px; 
    margin-left: 25px;
}
#btn-add{
    margin: 10px; 
    width: 50px;
    border: none; 
    border-radius: 25px; 
    padding: 10px; 
    background-color: #5d7d48; 
    color: #fff; 
    font-size: 20px;
}
#btn-add:hover{
    background-color: #324e20; 
}
#divisao{
    height: 5%;
}
#container{
    height: 85%;
}
#lista{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 50px;
}

